@model VueDemo.ViewModels.LoginViewModel
<div class="row" id="app_5">
    <div class="col-md-8"`>
        <form v-on:submit.prevent="submitForm" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>    
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe"/> @Html.DisplayNameFor(m=>m.RememberMe)
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    <script>
        var app_5 = new Vue({
            el: '#app_5',
            data: {
                form: {
                    email: '',
                    password: '',
                    confirmPassword: ''
                }
            },
            methods: {
                submitForm() {
                    axios.post('/Account/Login', this.form)
                        .then((res) => {
                            //Perform Success Action
                        })
                        .catch((error) => {
                            // error.response.status Check status code
                        }).finally(() => {
                            //Perform action in always
                        });
                }
            },
        });
    </script>
</div>       